@model MeteredPage.ViewModels.Home.IndexViewModel
@{
    ViewData["Title"] = "Contoso SaaS Solution";
}

@if (ViewBag.Message != null)
{

    <h2>@ViewBag.Message</h2>
}
else
{

        <div>
            <p><b>Azure OCR Metered Demo</b></p>
        </div>

        <br />
        <br />

        <div class="row">
            <section>
                <form method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="file" name="files" multiple onclick="clearBox()" />
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="submit" value="Process File" />
                        </div>
                    </div>
                </form>
            </section>
        </div>
        <hr />
        <div class="modal-body" >
            <table width=0>
                <tr>
                    <td>            
                        <textarea  rows = 15 cols="100" readonly id="ocrDetail" >
                            @Model.OcrDetail
                        </textarea>
                     </td>
                    <td> 
                        <img src="@Model.imgDataURL" width=400 height=300 id="ocrimage"> 
                    </td>

                </tr>
            </table>

        </div>

        <script>
            function clearBox() {
                box = document.getElementById("ocrDetail");
                box.value = "";
                image = document.getElementById("ocrimage");
                image.src = "data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=";
            }
        </script>
    
}