version: '3.4'

services:
  aggregatorservice:
    image: ${DOCKER_REGISTRY-}aggregator
    build:
      context: ..
      dockerfile: Aggregator/Dockerfile
    environment:
      # We just pass the existing environment variables into Docker
      - AZURE_METERING_MARKETPLACE_CLIENT_ID
      - AZURE_METERING_MARKETPLACE_CLIENT_SECRET
      - AZURE_METERING_MARKETPLACE_TENANT_ID
      - AZURE_METERING_INFRA_CLIENT_ID
      - AZURE_METERING_INFRA_CLIENT_SECRET
      - AZURE_METERING_INFRA_TENANT_ID
      - AZURE_METERING_INFRA_EVENTHUB_NAMESPACENAME
      - AZURE_METERING_INFRA_EVENTHUB_INSTANCENAME
      - AZURE_METERING_INFRA_CHECKPOINTS_CONTAINER
      - AZURE_METERING_INFRA_SNAPSHOTS_CONTAINER
      - AZURE_METERING_INFRA_CAPTURE_CONTAINER
      - AZURE_METERING_INFRA_CAPTURE_FILENAME_FORMAT={Namespace}/{EventHub}/p{PartitionId}--{Year}-{Month}-{Day}--{Hour}-{Minute}-{Second}
  demowebapp:
    image: ${DOCKER_REGISTRY-}demowebapp
    build:
      context: ..
      dockerfile: Demos/DemoWebApp/Dockerfile
    environment:
      - ASPNETCORE_URLS=http://+:80
      # We just pass the existing environment variables into Docker
      - AZURE_METERING_MARKETPLACE_CLIENT_ID
      - AZURE_METERING_MARKETPLACE_CLIENT_SECRET
      - AZURE_METERING_MARKETPLACE_TENANT_ID
      - AZURE_METERING_INFRA_CLIENT_ID
      - AZURE_METERING_INFRA_CLIENT_SECRET
      - AZURE_METERING_INFRA_TENANT_ID
      - AZURE_METERING_INFRA_EVENTHUB_NAMESPACENAME
      - AZURE_METERING_INFRA_EVENTHUB_INSTANCENAME
      - AZURE_METERING_INFRA_CHECKPOINTS_CONTAINER
      - AZURE_METERING_INFRA_SNAPSHOTS_CONTAINER
      - AZURE_METERING_INFRA_CAPTURE_CONTAINER
      - AZURE_METERING_INFRA_CAPTURE_FILENAME_FORMAT={Namespace}/{EventHub}/p{PartitionId}--{Year}-{Month}-{Day}--{Hour}-{Minute}-{Second}
    ports:
      - "80"
