@model LandingPage.ViewModels.Meter.IndexViewModel
@{
    ViewData["Title"] = "Contoso Offer Meter Page";
}

@if (ViewBag.Message != null)
{

    <h2>@ViewBag.Message</h2>
}
else
{
        <p><b>Metered Usage</b></p>

        <div class="modal-body" >
            <textarea  rows = 15 cols="100" readonly>
                @Model.Json
            </textarea>
        </div>

  
}