@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Submit a few dummy values</h1>
    <p>Learn more about <a href="https://docs.microsoft.com/en-us/azure/marketplace/azure-app-metered-billing">Metered Billing</a></p>
 
    <form method="post" asp-page="Index">
        <input type="submit" value="nodeCharge" asp-page-handler="NodeCharge" />
        <input type="submit" value="cpuCharge" asp-page-handler="CpuCharge" />
        <input type="submit" value="dataSourceCharge" asp-page-handler="DataSourceCharge" />
        <input type="submit" value="messageCharge" asp-page-handler="MessageCharge" />
        <input type="submit" value="objectCharge" asp-page-handler="ObjectCharge" />
    </form>
    <br />
    <pre> @Model.Msg </pre>
</div>