@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn more about <a href="https://docs.microsoft.com/en-us/azure/marketplace/azure-app-metered-billing">Metered Billing<a></p>
    <button>nodecharge </button>
    <button>cpucharge </button>
    <button>datasourcecharge</button>
    <button>messagecharge</button>
    <button>objectcharge</button>
</div>
